@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80
);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'poppins', sans-serif;
}

.container {
    color: white;
    padding: 20px 70px;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 100;
}

.date-container .time {

    font-size: 70px;
}

.time-date .am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 12;
    font-weight: 700;
}

.others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    margin: 10px 0;
    border: 2px solid;
    border-radius: 10px;
}

.weather-item {
    display: flex;
    justify-content: space-between;

}

.future-forecast {
    position: fixed;
    display: flex;
    background: rgba(24, 24, 27, 0.8);
    padding: 30px;
    width: 100%;
    color: white;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-forecast .today .day {
    background: rgba(44, 43, 43, 0.745);
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    padding-top: 15px;
    font-size: 18px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.future-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
}

.future-forecast .weather-forecast-item .day {
    background: rgba(44, 43, 43, 0.745);
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;

}

.future-forecast .weather-forecast-item .temp {
    font-weight: 100;
}

/* .today img {
    padding: 30px;
    width: 300px;
    aspect-ratio: 1/1;
} */